@import "tailwindcss";

:root {
  --background: #FAFAFA
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-open-sans);
  --font-pac: var(--font-pacifico);
}

body {
  background-color: var(--color-background);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: var(--font-sans);
}

html {
  overflow-y: scroll;
}
